.home {
  padding-top: 20px;
}

#home {
  padding-top: 20px; /* Default padding for larger screens */
  padding-left: 100px;
  position: relative; /* Ensure proper stacking context */
}

/* Header styles */
.home-section h2 {
  font-size: 24px;
  line-height: 1.2;
  color: rgb(0, 38, 255);
  margin: 0;
}

.home-section h1 {
  font-size: 50px;
  line-height: 1.2;
  color: rgb(0, 38, 255);
  margin: 10px 0;
}

.home-section h3 {
  color: purple;
  font-size: 18px;
  margin-top: 20px;
}

/* Button styles */
button {
  background-color: transparent;
  border: 2px solid #66d9ef;
  border-radius: 5px;
  color: #66d9ef;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #66d9ef;
  color: #000;
}

button:focus {
  outline: none;
}

/* Responsive Design for Mobile Screens */
@media (max-width: 768px) {
  #home {
    padding-top: 210px; /* Increased padding for mobile screens */
    padding-left: 20px;
    position: relative; /* Ensure the section is positioned correctly */
  }

  .home-section h2 {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    z-index: 1; /* Ensure h2 is on top */
    position: relative;
  }

  .home-section h1 {
    font-size: 36px;
    line-height: 1.2;
    margin: 10px 0;
    z-index: 1; /* Ensure h1 is on top */
    position: relative;
  }

  .home-section h3 {
    font-size: 16px;
    margin-top: 15px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
